{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Mediscape</title>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	{% include 'navbar.html' %}
	{% block content%}


	{% endblock %}

	<hr>
	<br>
  <footer>
<div class="container">
        <div class="text-center center-block">
  
                <a href="https://www.facebook.com/gitanshu.saxena"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
              <a href="https://www.linkedin.com/in/gitanshu-saxena/"><i id="social-li" class="fa fa-linkedin-square fa-3x social"></i></a>
              <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
              <a href="#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
              <br>
              <br>
              <p class="txt-railway">- CREATED BY:- GITANSHU SAXENA -</p>
              <div class="footer-copyright text-center py-3">© 2020 Copyright:
                  <a href="#">Mediscape.com</a>
  
              </div>

</div>
    <hr />
</div>
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>